@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Mobo';
  src: url('/fonts/MOBO-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mobo-bold';
  src: url('/fonts/MOBO-SemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('/fonts/bahnschrift.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes wave-slow {
  0% { transform: translateX(-50%) skew(0deg); }
  100% { transform: translateX(-50%) skew(20deg); }
}
.animate-wave-slow {
  animation: wave-slow 8s ease-in-out infinite alternate;
}